@import "../../global.scss";

.portfolio {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  position: relative;

    a {
      position: absolute;
      bottom: 10px;
    }
    .blink {
      animation: arrowBlink 1.5s infinite;
    }

    @keyframes arrowBlink {
      25% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }    

  h1 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 900;
  }

  h3 {
    font-size: 24px;
    font-weight: 300;
  }

  ul {
    margin: 20px;
    padding: 0 20px;
    list-style: none;
    display: flex;
    overflow: hidden;
  }

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;

    .item {
      margin: 10px 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      h3 {
        position: absolute;
        font-size: 20px;
        text-align: center;
        color: #5f5;
        font-weight: 300;
      }
      p {
        position: absolute;
        bottom: 8px;
        text-align: center;
        color: #ddd;
        font-weight: 500;
        font-size: 10px;
      }
      img {
        height: 100%;
        object-fit:cover;
        z-index: 1;
      }

      &:hover {
        background-color: $petScreenGreen;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }

  }
}