@import "../../global.scss";

.portfolio {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: relative;

  @include mobile {
    // padding-top: 90px;
  }

  a {
    position: absolute;
    bottom: 30px;
    z-index: 10;
  }
  .blink {
    animation: arrowBlink 1.5s infinite;

    @include mobile {
      display: none;
    }
  }

  @keyframes arrowBlink {
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }    

  h1 {
    font-size: 48px;
    letter-spacing: 1px;
    font-weight: 900;

    @include mobile {
      font-size: 36px
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 300;

    @include mobile {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  ul {
    margin: 10px 20px;
    padding: 0 20px;
    list-style: none;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 5px;
    }
  }

  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }

    .item {
      margin: 10px 20px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        height: 140px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        text-align: center;
        color: #5f5;
        font-weight: 300;
      }
      p {
        position: absolute;
        bottom: 8px;
        text-align: center;
        color: #ddd;
        font-weight: 500;
        font-size: 10px;
      }
      img {
        height: 100%;
        object-fit:cover;
        z-index: 1;
      }

      &:hover {
        background-color: $petScreenGreen;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}