.works {
  display: flex;
  background-color: blue;
  padding: 20px;

  .left {
    flex: 0.5;
    position: relative;

    h1 {
      padding-right: 20px;
      font-size: 48px;
      font-weight: 300;
      text-align: left;
      z-index: 10;
      color: white;
    }
    a {
      position: absolute;
      bottom: 30px;
      left: 90%;
    }
    .blink {
      animation: arrowBlink 1.5s infinite;
    }

    @keyframes arrowBlink {
      25% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }    

  }

  .right {
    flex: 0.5;
    overflow: hidden;
    
    h1 {
      padding-right: 20px;
      font-size: 48px;
      font-weight: 300;
      text-align: left;
      z-index: 10;
    }

    .imageContainer {
      position: relative;
      bottom: -30px;
      right: -20px;
      background-color: red;
      border-radius: 50%;
      // border: 0;
      display: flex;
      align-items:flex-end;
      justify-content: center;
      float: bottom;
      // width: 500px;
      // object-fit: cover;
      
      img {
        padding: 50px;
      }      
    }
  }
}