@import '../../global.scss';

.works {
  display: flex;
  background-color: blue;
  padding: 20px 0 0 20px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    position: relative;

    h1 {
      padding-right: 20px;
      font-size: 48px;
      font-weight: 300;
      text-align: left;
      z-index: 10;
      color: white;

      @include mobile {
        padding-top: 20px;
        font-size: 36px
      }
    }
    h3 {
      color: white;
      font-size: 12px;

    }
    a {
      position: absolute;
      bottom: 30px;
      left: 90%;
    }
    .blink {
      animation: arrowBlink 1.5s infinite;
    }

    @keyframes arrowBlink {
      25% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }    
  }

  .right {
    flex: 0.5;
    overflow: hidden;
    
    h1 {
      padding-right: 20px;
      font-size: 48px;
      font-weight: 300;
      text-align: left;
      z-index: 10;
    }

    .imageContainer {
      position: relative;
      bottom: -80px;
      right: -20px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items:flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        // bottom: 0;
        // right: 0;
        align-items: flex-start;
        float: clear;
      }
      
      img {
        padding: 50px;
      }      
      @include mobile {
        padding: 10px;
        height: 350px;
        width: 350px;
      }
    }
  }
}