@import '../../global.scss';

.works {
  display: flex;
  background-color: blue;
  padding: 20px 0 0 20px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    position: relative;

    @include mobile {
      flex: 0.5;
      padding-right: 10px;
    }

    h1 {
      padding-right: 20px;
      font-size: 48px;
      font-weight: 900;
      text-align: left;
      z-index: 10;
      color: white;

      @include mobile {
        font-size: 36px
      }

      span {
      color: red; 
      }
    }

    h3 {
      color: white;
      font-size: 24px;
      font-weight: 300;
      padding-right: 20px;
      margin-bottom: 20px;

      @include mobile {
        font-size: 18px;
      }
    }
    
    h4 {
      color: white;
      font-weight: 300;
      font-size: 20px;
      padding-bottom: 15px;
      padding-left: 20px ;
      text-indent: -20px ;
      
      @include mobile {
        font-size: 16px;
        padding-right: 20px;
      }
      
      span {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 900;
        padding: 2px 2px 0 2px;
        margin-right: 10px;
        background-color: #fff;
        color: blue;
      }
    }

    a {
      position: absolute;
      bottom: 30px;
      left: 90%;
    }
    .blink {
      animation: arrowBlink 1.5s infinite;
    }

    @keyframes arrowBlink {
      25% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }    
  }

  .right {
    flex: 0.5;
    overflow: hidden;

    @include mobile {
      // flex: 0.5;
      padding-right: 40px;
    }

    .imageContainer {
      position: relative;
      bottom: -80px;
      right: -20px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items:flex-end;
      justify-content: center;
      float: left;

      @include mobile {
        bottom: 0;
        right: 0;
      }
      
      img {
        padding: 50px;
        @include mobile {
          height: 200px;
          padding: 20px;
        }      
      }
    }
  }
}